# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

.settings

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.sln

*.suo

*.config

*.user

*.pdb

*.csproj

*.resx

*.manifest
Befunge/Befunge/obj/Debug/Befunge.csproj.FileListAbsolute.txt
Befunge/Befunge/obj/Debug/Befunge.csproj.GenerateResource.Cache
Befunge/Befunge/obj/Debug/Befunge.csprojResolveAssemblyReference.cache
Befunge/Befunge/obj/Debug/Befunge.GUI.resources
Befunge/Befunge/obj/Debug/Befunge.Properties.Resources.resources
Befunge/Befunge/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
Befunge/Befunge/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Befunge/Befunge/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Befunge/Befunge/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.txt
Befunge/Befunge/obj/Release/Befunge.GUI.resources
*.resources
Befunge/Befunge/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Befunge/Befunge/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Befunge/Befunge/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Befunge/Befunge/Properties/Settings.settings
Befunge/Befunge/Properties/Settings.Designer.cs
Befunge/Befunge/Properties/Resources.resx
Befunge/Befunge/Properties/Resources.Designer.cs
Befunge/Befunge/Properties/AssemblyInfo.cs
*.exe
